extends layout

block content

  .container.main
    if posts
      for post in posts
        .div.post-item
          h3.post-title 
            a(href="/posts/#{post._id}") #{post.title}
          p 
            span.post-byline 
              | Written by 
              a(href="/#{post.owner}") #{post.ownerName}
            span.post-tags
              each tag in post.tags
                a(class="button-tag button button-primary" href="/tags/#{tag}") #{tag}
          p.post-preview #{post.body}
        hr