extends layout

block content

  .main.pure-g.container
    .pure-u-1
      if posts
        for post in posts
          .div.post-item
            h2.post-title 
              a(href="/posts/#{post._id}") #{post.title}
            span.post-byline Written by 
              a(href="/users/#{post.owner}") #{post.ownerName}
              |  | #{moment(post.editedAt).format("DD MMMM YYYY")}
            p  
              span.post-tags
                each tag in post.tags
                    a.button-small.pure-button.button-tag(href="/tags/#{tag}") #{tag}
            p.post-preview !{post.body.substr(0, post.body.indexOf('</p>'))} 
            a(href="/posts/#{post._id}")  Read more
          hr
      if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
        if paginate.hasPreviousPages
          a.button(href=paginate.href(true)) Previous
        if paginate.hasNextPages(pageCount)
          a.button(href=paginate.href()) Next