extends layout

block content
  .container.main
    if user
      .div.user-profile
        h1 #{user.name}
        p.user-bio #{user.bio}
    if posts
      for post in posts
        .div.post-item
          a(href="/posts/#{post._id}")
            h3 #{post.title}
          p.post-preview !{post.body.substr(0, post.body.indexOf('</p>'))} 
            a(href="/posts/#{post._id}")  
              span.fa.fa-chevron-right
              span.fa.fa-chevron-right
        hr